<div class="row">
    <button class="btn btn-success btn-routing col-3" [routerLink]="'/cocktails'">Zur Bestellseite</button>
</div>

<!-- add Cocktail -->

<h1>Cocktails</h1>
<div class="box">
        <div class="mb-3">
            <label for="cocktailName" class="form-label">Name*</label>
            <input type="text" class="form-control" id="cocktailName" [(ngModel)]="tempName" (change)="changeName($event)">
        </div>
        <div class="mb-3 cocktailContainer">  
            <ng-container
            *ngFor="let ingredient of ingredients" class="cocktailItem">
            <!-- <div class="cont">  -->
                <label class="item">
                    <input type="checkbox" (change)="addOrRemoveIngredient(ingredient)"> 
                    {{ingredient.name}}
                    <input *ngIf="cockTailContainsIngredient(ingredient)" type="number" class="form-control" [value]="tempAmount" [(ngModel)]="tempAmount" (change)="tempAmount = $event;changeAmount(ingredient, $event)">
                </label>      
            <!-- </div> -->
            </ng-container>
            
            <!-- <pre>{{cocktailToAdd | json}}</pre> -->
            <!-- <ng-multiselect-dropdown
                [placeholder]="'custom placeholder'"
                [settings]="dropdownSettings"
                [data]="dropdownList"
                [(ngModel)]="selectedItems"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                >
            </ng-multiselect-dropdown> -->
        </div>
        <button type="submit" class="btn btn-primary" (click)="addCocktail()">Hinzufügen</button>
</div>
<!-- Cocktailtable -->
<table class="table table-bordered table-striped my-table">
    <colgroup>
        <col style="width: 30%">
        <col>
        <col style="width: 10%">
    </colgroup>

    <thead>
        <tr>
            <th>Cocktailname</th>
            <th>Zutaten</th>
            <th>Löschen</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let cocktail of cocktails">
            <td>{{cocktail.name}}</td>
            <td class="cocktailTableContainer">
        <tr *ngFor="let ingredient of cocktail.ingredients" class="cocktailTableItem">
            <td style="margin: 10px;">{{ingredient.name}}</td>
            <td > - {{ingredient.amount}}ml</td>
        </tr>
        <td>
            <button class="btn" (click)="deleteCocktail(cocktail)">
                <!-- <i class="fa-solid fa-trash-can"></i> -->
                <fa-icon [icon]="faTrashCan"></fa-icon>
            </button>
        </td>
        </tr>
        <!-- <tr *ngIf="!cocktails">Keine Cocktails verfügbar - bitte hinzufügen!</tr> -->
    </tbody>
</table>
<br>
<br>
<!-- Add Ingredient -->
<h1>Zutaten</h1>
<div class="box">
        <div class="mb-3">
            <label for="ingredientName" class="form-label">Zutat*</label>
            <input type="text" class="form-control" id="ingredientName" [(ngModel)]="ingredientToAdd.name" (ngModelChange)="ingredientToAdd.name = $event">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Pumpennummer</label>
            <input type="number" class="form-control" id="exampleInputPassword1" [(ngModel)]="ingredientToAdd.pump" (ngModelChange)="ingredientToAdd.pump = $event">
        </div>
        <button type="submit" class="btn btn-primary" (click)="addIngredient(ingredientToAdd)">Hinzufügen</button>
</div>

<!-- Ingredienttable -->
<table class="table table-bordered table-striped my-table">
    <colgroup>
        <col style="width: 30%">
        <col>
        <col>
        <col style="width: 10%">
    </colgroup>
    <thead>
        <tr>
            <th>Zutat</th>
            <th>Füllstand 
                <button class="btn" (click)="editFillLevel()"> 
                    <fa-icon [icon]="faPencil"></fa-icon>
                </button>
            </th>
            <th>Pumpe</th>
            <th>Löschen</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let ingredient of ingredients">
            <td>{{ingredient.name}}</td>
            <td [contentEditable]="editableFillLevel">
                <input *ngIf="editableFillLevel" type="number" value="{{ingredient.fillLevel}}" [(ngModel)]="tempFillLevel" (change)="changeFillLevel(ingredient,$event)">
            <div *ngIf="!editableFillLevel">
                {{ingredient.fillLevel}}
            </div> 
            <button *ngIf="editableFillLevel" class="btn" type="submit" (click)="updateFillLevel(ingredientToUpdate)"> 
                    <fa-icon [icon]="faFloppyDisk"></fa-icon>
                </button>
            </td>
            <td>{{ingredient.pump}}</td>
            <td>
                <button class="btn" (click)="deleteIngredient(ingredient)">
                    <fa-icon [icon]="faTrashCan"></fa-icon>
                </button>
            </td>
        </tr>
        <!-- <tr *ngIf="!ingredients">Keine Zutaten verfügbar - bitte hinzufügen!</tr> -->
    </tbody>
</table>

<!-- <pre>{{ingredientToAdd | json}}</pre> -->

<ng-container>

</ng-container>
<br>